<table class="table table-bordered">
  <caption style="caption-side:top;">Tujuan</caption>
  <thead>
    <tr>
      <th>Penentuan Laptop</th>
    </tr>
  </thead>
</table>
<table class="table table-bordered">
  <thead>
    <caption style="caption-side:top;">Kriteria</caption>
    <tr>
      <th>CPU</th>
      <th>Harga</th>
      <th>RAM</th>
      <th>SSD</th>
      <th>HDD</th>
    </tr>
  </thead>
</table>
<table class="table table-bordered">
  <caption style="caption-side:top;">Alternatif</caption>
  <thead>
    <tr>
      <th>Nama Laptop 1</th>
      <th>Nama Laptop 2</th>
      <th>Nama Laptop 3</th>
      <th>Nama Laptop 4</th>
      <th>Nama Laptop 5</th>
    </tr>
  </thead>
</table>