{% load mylaptop_extras %}
<h5>Kriteria KRITERIA</h5>
<div>
<p class="text-left" style="font-weight:bold;">Tingkat Kepentingan lalu Pairwaise Comparison</p>
<table class="table table-bordered table-responsif">
  <thead>
    <tr>
      <th>KRITERIA</th>
      {% for data in cari %}
      <th>{{data.obj.pilihan}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for data in cari %}
    <tr>
      <td>{{data.obj.pilihan}}</td>
      <td>{{data|formatKriteria0:"awal"}}</td>
      <td>{{data|formatKriteria1:"awal"}}</td>
      <td>{{data|formatKriteria2:"awal"}}</td>
      <td>{{data|formatKriteria3:"awal"}}</td>
      <td>{{data|formatKriteria4:"awal"}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p class="text-left" style="font-weight:bold;">Normalisasi Matriks</p>
<table class="table table-bordered table-responsif">
  <thead>
    <tr>
      <th>KRITERIA</th>
      {% for data in cari %}
      <th>{{data.obj.pilihan}}</th>
      {% endfor %}
      <th>Weights (W)</th>
    </tr>
  </thead>
  <tbody>
    {% for data in cari %}
    <tr>
      <td>{{data.obj.pilihan}}</td>
      <td>{{data|formatKriteria0:"normalisasi"}}</td>
      <td>{{data|formatKriteria1:"normalisasi"}}</td>
      <td>{{data|formatKriteria2:"normalisasi"}}</td>
      <td>{{data|formatKriteria3:"normalisasi"}}</td>
      <td>{{data|formatKriteria4:"normalisasi"}}</td>
      <td>{{data|formatKriteriaVariabel:"weight"}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p class="text-left" style="font-weight:bold;">Matriks Perkalian Bobot</p>
<table class="table table-bordered table-size table-responsif">
  <thead>
    <tr>
      <th>KRITERIA</th>
      {% for data in cari %}
      <th>{{data.obj.pilihan}}</th>
      {% endfor %}
      <th>WSV</th>
      <th>CV</th>
    </tr>
  </thead>
  <tbody>
    {% for data in cari %}
    <tr>
      <td>{{data.obj.pilihan}}</td>
      <td>{{data|formatKriteria0:"normalisasi"}}</td>
      <td>{{data|formatKriteria1:"normalisasi"}}</td>
      <td>{{data|formatKriteria2:"normalisasi"}}</td>
      <td>{{data|formatKriteria3:"normalisasi"}}</td>
      <td>{{data|formatKriteria4:"normalisasi"}}</td>
      <td>{{data|formatKriteriaVariabel:"wsv"}}</td>
      <td>{{data|formatKriteriaVariabel:"cv"}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p class="text-left" style="font-weight:bold;">Kesimpulan untuk Kriteria</p>
<table class="table table-bordered table-size table-responsif">
  <thead>
    <tr>
      <th>KRITERIA</th>
      {% for data in cari %}
      <th>{{data.obj.pilihan}}</th>
      {% endfor %}
      <th>Weigth (W)</th>
    </tr>
  </thead>
  <tbody>
    {% for data in cari %}
    <tr>
      <td>{{data.obj.pilihan}}</td>
      <td>{{data|formatKriteria0:"normalisasi"}}</td>
      <td>{{data|formatKriteria1:"normalisasi"}}</td>
      <td>{{data|formatKriteria2:"normalisasi"}}</td>
      <td>{{data|formatKriteria3:"normalisasi"}}</td>
      <td>{{data|formatKriteria4:"normalisasi"}}</td>
      <td>{{data|formatKriteriaVariabel:"weight"}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 <table class="table table-bordered">
  <tbody>
    <tr>
      <td>Lambda Max</td>
      <td>{{cari.0|formatKriteriaVariabel:"lambda_max"}}</td>
    </tr>
    <tr>
      <td>Consistency Index (CI)</td>
      <td>{{cari.0|formatKriteriaVariabel:"ci"}}</td>
    </tr>
    <tr>
      <td>Consistency Ration (CR)</td>
      <td>{{cari.0|formatKriteriaVariabel:"cr"}}</td>
    </tr>
  </tbody>
</table>
</div>
