{% load mylaptop_extras %}
<h5>Kriteria SSD</h5>
<table class="table table-bordered">
  <caption style="caption-side:top;">Tingkat Kepentingan lalu Pairwaise Comparison</caption>
  <thead>
    <tr>
      <th>SSD</th>
      {% for data in alternatif %}
      <th>{{ data.obj.product }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for data in alternatif %}
    <tr>
      <td>{{ data.obj.product }}</td>

      {% for data2 in data.ssd.awal %}
        <td>{{ data2 }}</td>
      {% endfor %}

    </tr>
    {% endfor %}
  </tbody>
</table>
<table class="table table-bordered">
  <caption style="caption-side:top;">Normalisasi Matriks</caption>
  <thead>
    <tr>
      <th>SSD</th>
      {% for data in alternatif %}
      <th>{{ data.obj.product }}</th>
      {% endfor %}
      <th>Weights (W)</th>
    </tr>
  </thead>
  <tbody>
    {% for data in alternatif %}
    <tr>
      <td>{{ data.obj.product }}</td>

      {% for data2 in data.ssd.normalisasi %}
        <td>{{ data2|formatFloat }}</td>
      {% endfor %}

      <td>{{ data.ssd.weight }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<table class="table table-bordered">
  <caption style="caption-side:top;">Matriks Perkalian Bobot</caption>
  <thead>
    <tr>
      <th>SSD</th>
      {% for data in alternatif %}
      <th>{{ data.obj.product }}</th>
      {% endfor %}
      <th>WSV</th>
      <th>CV</th>
    </tr>
  </thead>
  <tbody>
    {% for data in alternatif %}
    <tr>
      <td>{{ data.obj.product }}</td>
      
      {% for data2 in data.ssd.terbobot %}
        <td>{{ data2|formatFloat }}</td>
      {% endfor %}

      <td>{{ data.ssd.wsv }}</td>
      <td>{{ data.ssd.cv }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<table class="table table-bordered">
  <caption style="caption-side:top;">Kesimpulan untuk SSD</caption>
  <thead>
    <tr>
      <th>SSD</th>
      {% for data in alternatif %}
      <th>{{ data.obj.product }}</th>
      {% endfor %}
      <th>Weight (W)</th>
    </tr>
  </thead>
  <tbody>
    {% for data in alternatif %}
    <tr>
      <td>{{ data.obj.product }}</td>

      {% for data2 in data.ssd.awal %}
        <td>{{ data2|formatFloat }}</td>
      {% endfor %}

      <td>{{ data.ssd.weight }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 <table class="table table-bordered">
  <tbody>
    <tr>
      <td>Lambda Max</td>
      <td>{{ alternatif.0.ssd.lambda_max }}</td>
    </tr>
    <tr>
      <td>Consistency Index (CI)</td>
      <td>{{ alternatif.0.ssd.ci }}</td>
    </tr>
    <tr>
      <td>Consistency Ration (CR)</td>
      <td>{{ alternatif.0.ssd.cr }}</td>
    </tr>
  </tbody>
</table>