<h5>Kriteria KRITERIA</h5>
<table class="table table-bordered">
  <caption style="caption-side:top;">Tingkat Kepentingan lalu Pairwaise Comparison</caption>
  <thead>
    <tr>
      <th>KRITERIA</th>
      <th>{{cari.penting1}}</th>
      <th>{{cari.penting2}}</th>
      <th>{{cari.penting3}}</th>
      <th>{{cari.penting4}}</th>
      <th>{{cari.penting5}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nama Kriteria</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <caption style="caption-side:top;">Normalisasi Matriks</caption>
  <thead>
    <tr>
      <th>KRITERIA</th>
      <th>{{cari.penting1}}</th>
      <th>{{cari.penting2}}</th>
      <th>{{cari.penting3}}</th>
      <th>{{cari.penting4}}</th>
      <th>{{cari.penting5}}</th>
      <th>Weights (W)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nama Kriteria</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <caption style="caption-side:top;">Matriks Perkalian Bobot</caption>
  <thead>
    <tr>
      <th>KRITERIA</th>
      <th>{{cari.penting1}}</th>
      <th>{{cari.penting2}}</th>
      <th>{{cari.penting3}}</th>
      <th>{{cari.penting4}}</th>
      <th>{{cari.penting5}}</th>
      <th>WSV</th>
      <th>CV</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nama Kriteria</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <caption style="caption-side:top;">Kesimpulan untuk KRITERIA</caption>
  <thead>
    <tr>
      <th>KRITERIA</th>
      <th>{{cari.penting1}}</th>
      <th>{{cari.penting2}}</th>
      <th>{{cari.penting3}}</th>
      <th>{{cari.penting4}}</th>
      <th>{{cari.penting5}}</th>
      <th>Weigth (W)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nama Kriteria</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
 <table class="table table-bordered">
  <tbody>
    <tr>
      <td>Lambda Max</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Consistency Index (CI)</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Consistency Ration (CR)</td>
      <td>0</td>
    </tr>
  </tbody>
</table>