<h5>Kriteria HDD</h5>
<table class="table table-bordered">
  <caption style="caption-side:top;">Tingkat Kepentingan lalu Pairwaise Comparison</caption>
  <thead>
    <tr>
      <th>HDD</th>
      <th>Nama Laptop 1</th>
      <th>Nama Laptop 2</th>
      <th>Nama Laptop 3</th>
      <th>Nama Laptop 4</th>
      <th>Nama Laptop 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nama Laptop</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <caption style="caption-side:top;">Normalisasi Matriks</caption>
  <thead>
    <tr>
      <th>HDD</th>
      <th>Nama Laptop 1</th>
      <th>Nama Laptop 2</th>
      <th>Nama Laptop 3</th>
      <th>Nama Laptop 4</th>
      <th>Nama Laptop 5</th>
      <th>Weights (W)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nama Laptop</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <caption style="caption-side:top;">Matriks Perkalian Bobot</caption>
  <thead>
    <tr>
      <th>HDD</th>
      <th>Nama Laptop 1</th>
      <th>Nama Laptop 2</th>
      <th>Nama Laptop 3</th>
      <th>Nama Laptop 4</th>
      <th>Nama Laptop 5</th>
      <th>WSV</th>
      <th>CV</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nama Laptop</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <caption style="caption-side:top;">Kesimpulan untuk HDD</caption>
  <thead>
    <tr>
      <th>HDD</th>
      <th>Nama Laptop 1</th>
      <th>Nama Laptop 2</th>
      <th>Nama Laptop 3</th>
      <th>Nama Laptop 4</th>
      <th>Nama Laptop 5</th>
      <th>Weight (W)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nama Laptop</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
 <table class="table table-bordered">
  <tbody>
    <tr>
      <td>Lambda Max</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Consistency Index (CI)</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Consistency Ration (CR)</td>
      <td>0</td>
    </tr>
  </tbody>
</table>