{% load mylaptop_extras %}
<table class="table table-bordered">
  <caption style="caption-side:top;">Perangkingan</caption>
  <thead>
    <tr>
      <th>Bobot Gabungan Secara Keseluruhan</th>
      {% for data in alternatif %}
      <th>{{ data.obj.product }}</th>
      {% endfor %}
      <th>Bobot Kriteria</th>
    </tr>
  </thead>
  <tbody>
    {% for data in rangking %}
    <tr>
      <td>{{ data.pilihan }}</td>
      <td>{{ data|formatWeight0 }}</td>
      <td>{{ data|formatWeight1 }}</td>
      <td>{{ data|formatWeight2 }}</td>
      <td>{{ data|formatWeight3 }}</td>
      <td>{{ data|formatWeight4 }}</td>
      <td>{{ data.bobot }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Perangkingan</td>
      {% for data in rangking_alternatif %}
      <td>{{ data.rangking|formatFloat }}</td>
      {% endfor %}
      <td></td>
    </tr>
    <tr>
      <td></td>
      {% for data in rangking_alternatif %}
      <td>{{ data.rank }}</td>
      {% endfor %}
      <td></td>
    </tr>
  </tbody>
</table>