<table class="table table-bordered">
  <caption style="caption-side:top;">Perangkingan</caption>
  <thead>
    <tr>
      <th>Bobot Gabungan Secara Keseluruhan</th>
      <th>Nama Laptop 1</th>
      <th>Nama Laptop 2</th>
      <th>Nama Laptop 3</th>
      <th>Nama Laptop 4</th>
      <th>Nama Laptop 5</th>
      <th>Bobot Kriteria</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nama Kriteria</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Perangkingan</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td></td>
    </tr>
  </tbody>
</table>