{% load mylaptop_extras %}
<div>
<p class="text-left" style="font-weight:bold;">Perangkingan</p>
<table class="table table-bordered table-size table-responsif">
  <thead>
    <tr>
      <th>Bobot Gabungan Secara Keseluruhan</th>
      {% for data in alternatif %}
      <th>{{ data.obj.product }} {{data.obj.id_laptop}}</th>
      {% endfor %}
      <th>Bobot Kriteria</th>
    </tr>
  </thead>
  <tbody>
    {% for data in rangking %}
    <tr>
      <td>{{ data.pilihan }}</td>

      {% for data2 in alternatif %}
      <td>{{ data|formatWeight:forloop.counter0 }}</td>
      {% endfor %}

      <td>{{ data.bobot }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Perangkingan</td>
      {% for data in rangking_alternatif %}
      <td>{{ data.rangking|formatFloat }}</td>
      {% endfor %}
      <td></td>
    </tr>
    <tr>
      <td></td>
      {% for data in rangking_alternatif %}
      <td>{{ data.rank }}</td>
      {% endfor %}
      <td></td>
    </tr>
  </tbody>
</table>
</div>
