{% extends "base.html" %}

{% block content_header %}
<div class="content-header">
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0">Cari Laptop</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Cari Laptop</li>
      </ol>
    </div>
  </div>
</div>
</div>
{% endblock content_header %}

{% block content_main %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="card-header">
            <h3 class="card-title">Form Persiapan Cari Laptop</h3>
          </div>

          <form method="POST" action="/mylaptop/hasil/">
            {% csrf_token %}
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <p class="text-cari">Jika Anda menginginkan sebuah brand tertentu maka silahkan pilih nama brand laptop disamping sesuai dengan keinginan. Sistem akan mencari pilihan laptop sesuai dengan brand yang sudah diinputkan.</p>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Brand Favorit Pilihan</label>
                  <select class="form-control select2bs4" name="brand" style="width: 100%;">
                    <option value="Semua">Semua Brand</option>
                    {% for brand in brands  %}
                      <option value="{{brand.company}}" >{{brand.company}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row justify-content-center">
              <div class="col-md-6 text-cari">
                <p>Kami menyediakan form untuk mengisi ranking untuk tingkat kepentingan. Ranking yang dimaksud disini adalah Anda dapat mengurutkan beberapa kriteria di bawah ini sesuai dengan kebutuhan dan keinginan Anda. <br><br> Contoh: Anda lebih mementingkan harga dibandingkan besar ukuran RAM. Jadi Anda bisa memilih harga sebagai kriteria urutan pertama. Urutan selanjutnya diikuti kepentingan kriteria sesuai keinginan Anda. Namun jika tidak diurutkan default urutannya seperti ini : </p>
                <ol>
                  <li>Harga</li>
                  Semakin kecil nilai semakin baik
                  <li>RAM</li>
                  Untuk mempercepat pemrosesan data pada perangkat. Semakin tinggi nilai semakin baik
                  <li>SSD</li>
                  Penyimpanan Laptop (lebih baik dari HDD). Semakin tinggi nilai semakin baik
                  <li>HDD</li>
                  Penyimpanan Laptop. Semakin tinggi nilai semakin baik
                  <li>CPU</li>
                  Mendukung pemrosesan data. Semakin tinggi nilai semakin baik
                </0l>             
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {% for criteria in criterias %}
                    {% if forloop.counter != 6 %}
                      {% if forloop.counter == 1 %}
                      <label>Kepentingan {{forloop.counter}}</label>
                      {% else %}
                      <label class="m-t-10">Kepentingan {{forloop.counter}}</label>
                      {% endif %}
                      <select class="form-control select2bs4" style="width: 100%;" id="penting_{{forloop.counter}}" aria-describedby="penting" name="penting_{{forloop.counter}}">
                      {% for kriteria in criterias %}
                        {% if forloop.counter == 1 %}
                        <option value="kosong">{{kriteria}}</option>
                        {% else %}
                        <option value="{{kriteria}}">{{kriteria}}</option>
                        {% endif %}                     
                      {% endfor %}
                      </select>
                      <small id="penting" class="form-text text-muted">Pilih "Default" untuk mereset pilihan</small>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-custom" id="cari">Cari Laptop</button>
            <button type="button" class="btn btn-default float-right" id="reset_penting">Reset Pengaturan</button>
          </div>

         </form>
      </div>  
    </div>

    </div>
  </div>
</section>
{% endblock content_main %}

