{% extends "base.html" %}

{% block content_header %}
<div class="content-header">
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0">Hasil Penentuan</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Hasil Penentuan</li>
      </ol>
    </div>
  </div>
</div>
</div>
{% endblock content_header %}

{% block content_main %}
<section class="content">
  <div class="container-fluid">
    <p>Ini adalah brand yang dipilih : {{cari.brand}} </p>
    <p>Ini adalah tingkat kepentingan : </p>
    <ol> 
      <li>{{cari.penting1}}</li>
      <li>{{cari.penting2}}</li>
      <li>{{cari.penting3}}</li>
      <li>{{cari.penting4}}</li>
      <li>{{cari.penting5}}</li>
    </ol>
  </div>
</section>
{% endblock content_main %}

