{% load static %}
<aside class="main-sidebar background-kuning elevation-4">
  <!-- Brand Logo -->
  <a href="../.." class="brand-link">
    <img src=" {% static 'img/icon-laptop-logo.png' %}" alt="Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">DSS Laptop</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item">
          <a href="/mylaptop/alternatif" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>Data Alternatif</p>
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item">
          <a href="/mylaptop/cari" class="nav-link">
            <i class="nav-icon fas fa-laptop"></i>
            <p>Cari Laptop</p>
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item">
          <a href="/mylaptop/hasil" class="nav-link">
            <i class="nav-icon far fa-envelope"></i>
            <p>Hasil</p>
          </a>
        </li>
        
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>